fastapi
uvicorn
starlette
pydantic
pydantic_core
python-multipart
httpx
requests
aiohttp
anyio
h11
idna

python-dotenv
python-decouple
numpy
pandas
scikit-learn
scipy
lightgbm
xgboost
torch
geopy
matplotlib
plotly
seaborn

jupyter
notebook
ipykernel
ipywidgets
annotated-types
typing_extensions
typing-inspection
annotated-doc
pytest
pytest-asyncio
pytest-cov

click

sqlalchemy
asyncpg
psycopg2-binary

redis
aioredis
docker
